<div class="container">
  <h1>Business Contacts</h1>
  <div class="row">
    <div class="col">
      <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="contactList">
          <!-- Sort the businesscontacts array -->

          <% businesscontacts.sort((a,b) => (a.contactname > b.contactname) ? 1
          : ((a.contactname < b.contactname) ? -1 : 0)) %>

          <!-- Repeatable Rows -->

          <% for(let count = 0; count < businesscontacts.length; count++) { %>
          <tr>
            <th scope="row" class="text-center"><%= count + 1 %></th>
            <td><%= businesscontacts[count].contactname %></td>
            <td><%= businesscontacts[count].contactnumber %></td>
            <td><%= businesscontacts[count].contactemail %></td>

            <td class="text-center col-1">
              <a
                href="/editcontact/<%= businesscontacts[count]._id %>"
                class="btn btn-primary btn-sm"
              >
                <i class="fas fa-pencil-alt"></i> Update</a
              >
            </td>

            <td class="text-center col-1">
              <a
                href="/deletecontact/<%= businesscontacts[count]._id %>"
                class="btn btn-danger btn-sm"
              >
                <i class="fas fa-trash-alt"></i> Delete</a
              >
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <a href="/editcontact" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> Add a new contact</a
      >
    </div>
  </div>
</div>
